
.post--comment-container {
  padding-top: gutter();
  border-top: .0625rem solid #DDDDDD;
  
  & > h2 {
    font-size: $font-size-6;
    color: $color-secondary;
  }
}
.comment {
  position: relative;
  min-height: 6rem;
  padding-left: 7rem;
  
  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    border: .25rem solid $color-primary;
    border-radius: 50%;
  }
  .fn {
    font-weight: normal;
    margin-top: 0;
    font-size: $font-size-6;
    float: left;
  }
  .says {
    display: none;
  }
  .comment-content {
    font-size: $font-size-4;
    clear: both;
  }
  .reply {
    position: absolute;
    top: .625rem;
    right: 0;
    margin-top: 0;
    font-size: $font-size-4;
  }
}
/*.comment-author {
  overflow: hidden;
  float: left;
}*/
.comment-metadata {
  overflow: hidden;
  margin-right: 2.9375rem;
  padding-right: 1rem;
  border-right: .0625rem solid #DDDDDD;
  font-size: $font-size-4;
  margin-top: 0;
  position: relative;
  top: .625rem;
  
  a {
    float: right;
    
    time {
      //color: $color-secondary;
    }
  }
}
.comment-edit-link {
  margin-top: 0;
  margin-right: 1rem;
}
#respond {
  @extend %box;
  
  p + p {
    text-indent: 0;
  }
}
#reply-title {
  font-size: $font-size-6;
  color: $color-secondary;
  font-weight: bold;
}
.logged-in-as {
  font-size: $font-size-4;
  color: #DDDDDD;
}
.comment-form-comment {
  
  label {
    display: none;
  }
  textarea {
    border: .0625rem solid #DDDDDD;
    outline: none;
    width: 100%;
    padding: gutter();
  }
}
.form-allowed-tags {
  display: none;
}
#submit {
  padding: gutter();
  background: $color-tertiary;
  color: white;
  border-radius: .125rem;
  box-shadow: 0 0 .125rem rgba(0,0,0,.12),0 .125rem .25rem rgba(0,0,0,.24);
  
  &:hover {
    background: color--shadow( $color-tertiary );
    box-shadow:  0 0 .125rem rgba(0,0,0,.24),0 .125rem .25rem rgba(0,0,0,.48);
    cursor: pointer;
  }
}